html
{
	font-size: 90%;
}

@media all and (max-width: 480px)
{
	html
	{
		font-size: 60%;
	}
}

body
{
	font-family: 'Ovo', serif;
	margin: 0;
	padding: 0;
}

input[type="submit"]
{
	-webkit-appearance:none;
}

.btn
{
	display: inline-block;
	line-height: 1.2;
	text-align: center;
	border: 1px solid #16210b;
	background-color: #ff4842;
	color: white;
	font-size: .6rem;
	
}




